p.solid {border-style: solid;}
body {background-color: rgb(74, 94, 114);}
font {font-family: courier;}
a:link, a:visited {
        color: black;
        background-color:rgb(105, 117, 129);
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
}
 a:hover, a:active {
        background-color: rgb(105, 117, 129);
}
img {
        display: block;
        margin-left: auto;
        margin-right: auto;
}
.img-circle {
        border: 3px solid white;
        border-radius: 50%;
}
.section {
        background-color: #fff;
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 10px;
}
.section {
        color: black;
        background-color:rgb(105, 117, 129);
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
}
.copyright {
        font-size: 9pt;
        text-align: right;
        padding-bottom: 10px;
        color: grey;
}
h3 span {
        text-align: center;
        text-decoration: none;
        display: inline-flex;
}
.center {
        padding-right: 75px;
        margin: 0 auto;
}